body {
  font-family: 'Raleway', sans-serif;
    background-color: #F0FFFF;
}

html {
  position: relative;
  min-height: 100%;
}

main {
  margin: 80px 0;
}

.block {
  padding: 30px;
  margin-bottom: 30px;
}

.block-header {
  color: #e65c00;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#logo {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #2f4f4f;

}

.navbar-default .navbar-nav > li > a:hover {
  color: #2f4f4f;
}

.navbar {
  background: #F0FFFF !important;
  border: none;
}

@media only screen and (max-width: 767px) {
  #logo {
    font-size: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .block {
    text-align: center;
    
  }
}

@media only screen and (max-width: 767px) {
  #about-image {
    float: none !important;
    /* margin: 0 auto; */
  }
}


.connect-header {
  font-size: 25px;
}

.connect-photo {
  width: 55px;
  height: 55px;
}

#images {
  padding-top: 15px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.text-muted-footer {
  margin-top: 15px;
  color: #fff;
}

.two-toned-footer-color {
  height: 6px;
  padding-top: 3px;
}

.about-me-header {
  margin-bottom: 33px;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #4aaaa5;
}

#about-image {
  float: left;
  width: 200px;
  margin: 0 20px 10px 0;
}


.port-image {
  margin: 20px auto;
}

.port-image:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

h3 {
  color: #2f4f4f;
  text-align: center;
  font-size: medium;
}

h4 {
  color: #2f4f4f;
  text-align: center;
  font-size: small;
}


.extra {
  color: #2f4f4f;
  font-size: small;
}

.form-control {
  border-radius: 0;
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
  background-color: #e65c00;
  border: 0;
}

.submit-btn:hover {
  opacity: .7;
}


.c {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.social-icon-box::after {
  content: "";
  clear: both;
  display: table;
}

.social-icon-box {
  text-align: center !important;
}

@media only screen and (max-width: 767px) {
  .social-icon-box {
  text-align: center !important;
  }
}

@media only screen and (max-width: 767px) {
  .or-call {
  text-align: center !important;
  }
}


